.container
{
    max-width: 1200px;
    margin: 0 auto;
}

body
{
    margin: 0;
}

.photoQuotes
{
    display: flex;
}

.quote
{
    font: italic 28px/42px Georgia, serif;
    color: #fff;
}

.quote::before
{
    content: '';
}

.quotes
{
    padding-top: 50px;
    margin-left: 60px;
}

.textQuote
{
    margin: 26px 0 0 63px;
}

.author
{
    font: 600 16px/42px Open Sans, sans-serif;
    color: #fff;
    margin: 2px 0 0 3px;
}

.image
{
    border-radius: 5px;
    width: 330px;
    height: 350px;
}

.mainInformation
{
    display: flex;
    margin-top: 6px;
    padding-left: 125px;
}

.lists
{
    width: 330px;
    margin-top: 35px;
}

.name
{
    font: 700 46px/46px Open Sans, sans-serif;
    color: #333;
}

.rightInformation
{
    margin-left: 58px;
    margin-top: -158px;
    width: 570px;
}

.listTitle
{
    font: 600 24px/32px Open Sans, sans-serif;
    color: #15a98c;
}

.element
{
    font: 18px/36px Georgia, serif;
    color: #555;
    margin: 15px 0 40px 0;
    padding-left: 20px;
}

.line
{
    width: 59px;
    height: 5px;
    border-radius: 4px;
    background-color: #45c3aa;
    margin: 0 0 42px 0;
}

.text
{
    font: 18px/32px Georgia, serif;
    color: #555;
    margin: 0 0 42px 2px;
}

.hobbyTitle
{
    font: 400 36px/42px Open Sans, sans-serif;
    color: #333;
    margin: 44px 0 14px 0;
}

.vkLink
{
    display: inline-block;
    margin: 1px 0 0 2px;
    text-decoration: none; 
}

.vkLinkText
{
    font: 19px/30px Georgia, serif;
    color: #32b49a; 
}

.background
{
    background: url("../images/background.jpg") no-repeat;
    z-index: -1;
    background-position-y: 50px;
    height: 450px;
    position: absolute;
    width: 100%; 
}

.navigationBar
{
    display: flex;
    margin: 0;
    padding-left: 125px;
    height: 50px;
    list-style-type: none;
}

.topInformation
{
    margin-top: 210px;
    padding-left: 125px;
}

.aboutMe
{
    font: 19px/32px Georgia, serif;
    color: #333;
    padding: 10px 20px 8px 45px;
    text-decoration: none;
    background: url("../images/aboutMeBlack.png") no-repeat;
    display: block;
    background-position: 21px;
    box-sizing: border-box;
    transition: 0.4s;
    background-position-y: 17px
}

.aboutMe:hover
{
    background: #15a98b url("../images/aboutMeWhite.png") no-repeat center top;
    color: #ffe;
    background-position: 21px;
    background-position-y: 17px;
    transition: 0.4s;
}

.myHobby
{
    font: 19px/32px Georgia, serif;
    color: #333;
    padding: 10px 20px 8px 48px;
    text-decoration: none;
    background: url("../images/hobbyBlack.png") no-repeat;
    display: block;
    background-position: 21px;
    box-sizing: border-box;
    transition: 0.4s;
    background-position-y: 17px;
}

.myHobby:hover
{
    background: #15a98b url("../images/hobbyWhite.png") no-repeat center top;
    color: #ffe;
    background-position: 21px;
    background-position-y: 17px;
    transition: 0.4s;
}

.films
{
    font: 19px/32px Georgia, serif;
    color: #333;
    padding: 10px 21px 8px 46px;
    text-decoration: none;
    background: url("../images/videoBlack.png") no-repeat;
    display: block;
    background-position: 20px;
    box-sizing: border-box;
    transition: 0.4s;
    background-position-y: 18px;

}

.films:hover
{
    background: #15a98b url("../images/videoWhite.png") no-repeat center top;
    color: #ffe;
    background-position: 21px;
    background-position-y: 18px;
    transition: 0.4s;
}

.film
{
    width: 285px;
    box-sizing: border-box;
    margin-right: 20px;
}



.favouriteFilms
{
    font: normal 36px Open Sans, sans-serif;
    color: #333;
    margin: 90px 0 30px 0;
}

.filmBlocks
{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.filmBoard
{
    margin: 0 0 0 4px;
    width: 1200px;
}

.filmPicture
{
    width: 285px;
    height: 190px;
    border-radius: 6px;
}

.filmName
{
    font: Bold 22px Open Sans, sans-serif;
    color: #333;
    margin:20px 0 18px 0;
}

.filmText
{
    font: 16px/29px Georgia, serif;
    color: #555;
}
.filmKey
{
    border-radius: 5px;
    display: block;
    margin: 34px 0 0 481px;
    font: 19px/32px Georgia, serif;
    text-decoration: none;
    color: #f5f5f5;
    background-color: #15a98c;
    width: 220px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    transition: 0.4s;
}

.replyForm
{
    max-width: 540px;
    margin: 0 auto;
    padding-left: 6px;
}

.replyTitle
{
    text-align: center;
    margin: 55px 7px 21px 0;
}

.leftLine
{
    position: relative;
    left: 247px;
    top: 56px;
    display: inline-block;
    height: 1px;
    width: 200px;
    background: #c4c4c4;
}

.rightLine
{
    position: relative;
    right: 250px;
    top: -62px;
    display: inline-block;
    height: 1px;
    width: 200px;
    background: #c4c4c4;
}

.replyMe
{
    font: normal 35px/42px Open Sans, sans-serif;
}

.formField
{
    margin-bottom: 22px;
}

.label
{
    font: 400 20px/32px Open Sans, sans-serif;
    color: #333;
}

.star
{
    color: red;
    font-size: 24px;
}    

.nameField
{
    margin: 4px 0 1px 2px;
    border: 2px solid #c9c9c9;
    width: 524px;
    height: 45px;
    font: 400 18px Open Sans, sans-serif;
    padding: 2px 0 0 12px;
    border-radius: 3px;
}

.select
{
    margin: 4px 0 18px 2px;
    width: 540px;
    height: 50px;
    border: 2px solid #c9c9c9;
    color: #555;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../images/arrow.png") no-repeat;
    background-position: 497px 14px;
    padding-left: 15px;
    font: 18px Open Sans, sans-serif;
    border-radius: 3px;
}

.sex
{
    margin: 23px 0 39px 0;
}

.man
{
    padding-right: 35px;
    font: 18px Open Sans, sans-serif;
}

.sexRadio
{
    margin-top: 9px;
}

.formRadio
{
    margin: 0 5px 0 1px;
}

.buttonSend
{
    cursor: pointer;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    width: 220px;
    height: 50px;
    font: 19px Georgia, serif;
    color: #f5f5f5;
    background-color: #15a98c;
    margin-left: 2px;
}

.message
{
    margin: 3px 0 46px 2px;
    border: 2px solid #c9c9c9;
    resize: none;
    color: #555;
    font: 18px Open Sans, sans-serif;
    box-sizing: border-box;
    height: 150px;
    width: 100%;
    padding: 15px 0 0 12px;
    border-radius: 3px; 
}

.star
{
    color: red;
    font-size: 24px;
}

.pageEnd
{
    display: block;
    position: absolute;
    text-align: center;
    font: 16px/32px Georgia, serif;
    color: #555;
    padding: 67px 0 0 237px;
}

.nameField:focus,
.select:focus,
.message:focus {
    outline: none;
    border: 2px solid #15a98c;
    border-radius: 3px;
}
